<%= provide(:title, "New message") %>
<h1 class="page-title text-center">New message</h1>

<div class="row">
  <div class="col-md-12">
    <%= form_for @post do |f| %>
      <%= render "errors", object: @post %>

      <%= f.label :body, class: "hidden" %>
      <%= f.text_field :body, class: "form-control", autofocus: true %>

      <%= f.submit "Post message", class: "btn btn-primary btn-lg btn-block" %>
    <% end %>
  </div>
</div>
