<%= provide(:title, "New message") %>
<h1 class="page-title text-center">New message</h1>

<div class="row">
  <div class="col-md-12">
    <%= form_for @post do |f| %>

      <% if @post.errors.any? %>
        <div id="error_explanation">
          <div class="alert alert-danger">
            <h2 class="h4"><%= pluralize(@post.errors.count, "error") %>:</h2>
            <ul class="list-styled">
            <% @post.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        </div>
      <% end %>

      <%= f.label :body, class: "hidden" %>
      <%= f.text_area :body, class: "form-control", autofocus: true %>

      <%= f.submit "Post message", class: "btn btn-primary btn-lg btn-block" %>
    <% end %>
  </div>
</div>
