<div class="header clearfix">
  <nav>
    <ul class="nav nav-pills pull-right">

      <% unless logged_in? %>
        <li role="presentation">
          <%= link_to "Sign up", signup_path, class: "btn btn-block" %>
        </li>

        <li role="presentation">
          <%= link_to "Log in", login_path, class: "btn btn-block" %>
        </li>
      <% else %>
        <li role="presentation">
          <%= link_to "New message",
              new_post_path,
              class: "btn btn-primary btn-block" %>
        </li>
        <li role="presentation">
          <%= link_to "Log out", logout_path, method: :delete, class: "btn btn-block" %>
        </li>
      <% end %>

    </ul>
  </nav>
  <h3 class="text-muted">
    <%= link_to "Members Only!", root_path %>
  </h3>
</div>
