<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield(:title) %></title>
    <%= render "head_tags" %>
  </head>

  <body>
    <div class="container">
      <%= render "header" if controller_name == "posts" &&
            action_name == "index" %>

      <div class="row">
        <% flash.each do |message_type, message| %>
          <%= content_tag :div, message, class: "alert alert-#{message_type}" %>
        <% end %>

        <%= yield %>
      </div>
    </div>
  </body>
</html>
