<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield(:title) %></title>
    <%= render "head_tags" %>
  </head>

  <body>
    <div class="container">
      <%= render "header" if index?(controller_name, action_name) %>

      <div class="row">
        <%= render "flash_alerts" %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
